---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <hr/>
  <h3>Related posts</h3>
{% assign listed_posts_urls = page.url | split: ' ' %}
{% for tag in page.tags %}
  <h4>{{tag}}</h4>
  <ul>
  {% for mypost in site.tags[tag] %}
    {% if listed_posts_urls contains mypost.url %}
    {% else %}
      <li>
        <a href="{{ mypost.url }}">{{ mypost.title }}</a>
      </li>
      {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
</div>
